<div class="mb-3 mt-4">

  <input
    type="text"
    class="form-control"
    placeholder="Pesquisar livro..."
    [(ngModel)]="pesquisa"
    (input)="consultar()">

</div>

<div class="container mt-5">
    <div class="card shadow p-4">
        <div class="card">

  <h2 class="mb-4">Cadastro de Livros</h2>

  <form>

    <div class="mb-3">

      <label class="form-label">Título</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="livro.titulo"
        name="titulo">

    </div>

    <div class="mb-3">

      <label class="form-label">Data Publicação</label>

      <input
        type="date"
        class="form-control"
        [(ngModel)]="livro.dataPublicacao"
        name="dataPublicacao">

    </div>

    <div class="mb-3">

      <label class="form-label">Editora</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="livro.editora"
        name="editora">

    </div>

    <div class="mb-3">

      <label class="form-label">Gênero</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="livro.genero"
        name="genero">

    </div>

    <div class="mb-3">

      <label class="form-label">Autor</label>

      <select
        class="form-select"
        [(ngModel)]="livro.idAutor"
        name="idAutor">

        <option
          *ngFor="let autor of autores"
          [value]="autor.id">

          {{autor.nome}}

        </option>

      </select>

    </div>

    <button
      *ngIf="!editando"
      type="button"
      class="btn btn-primary"
      (click)="salvar()">

      Salvar

    </button>

    <button
      *ngIf="editando"
      type="button"
      class="btn btn-success"
      (click)="atualizar()">

      Atualizar

    </button>

  </form>

  <hr>

  <h3>Lista de Livros</h3>

  <table class="table table-hover table-bordered align-middle">

    <thead>

      <tr>

        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Data</th>
        <th>Editora</th>
        <th>Gênero</th>
        <th>Ações</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let l of livrosFiltrados">

        <td>{{l.id}}</td>

        <td>{{l.titulo}}</td>

        <td>{{buscarAutor(l.idAutor)}}</td>

        <td>{{l.dataPublicacao}}</td>

        <td>{{l.editora}}</td>

        <td>{{l.genero}}</td>

        <td>

          <button
            class="btn btn-warning btn-sm me-2"
            (click)="editar(l)">

            Editar

          </button>

          <button
            class="btn btn-danger btn-sm"
            (click)="excluir(l.id)">

            Excluir

          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>
</div>
</div>