<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand fw-bold fs-3">
      📚 Biblioteca
    </a>

    <div class="navbar-nav ms-auto">

      <button
        class="btn btn-outline-light me-2"
        (click)="tela = 'autores'">

        👨‍🏫 Autores

      </button>

      <button
        class="btn btn-outline-light"
        (click)="tela = 'livros'">

        📖 Livros

      </button>

    </div>

  </div>

</nav>

<div class="container text-center">

 
</div>

<div *ngIf="tela == 'autores'">

  <app-autores></app-autores>

</div>

<div *ngIf="tela == 'livros'">

  <app-livros></app-livros>

</div>