*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
}

.layout{
    display: flex;
}

.sidebar{
    width: 260px;
    height: 100vh;
    background-color: #0f172a;
    color: white;
    padding: 30px 20px;
    transition: 0.3s;
    position: fixed;
    overflow: hidden;
}

.sidebar.fechar{
    width: 80px;
    padding: 30px 10px;
}

.logo{
    margin-bottom: 40px;
    text-align: center;
}

.icone-logo{
    font-size: 40px;
    margin-bottom: 10px;
}

.logo h2{
    font-size: 28px;
}

.sidebar.fechar .logo h2{
    display: none;
}

.sidebar.fechar .icone-logo{
    font-size: 34px;
}

.menu-titulo{
    margin: 25px 0 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu-titulo .icone{
    margin-right: 10px;
}

.sidebar.fechar .menu-titulo{
    display: flex;
    justify-content: center;
}

.sidebar.fechar .menu-titulo .texto-menu{
    display: none;
}

.sidebar.fechar .menu-titulo .icone{
    margin-right: 0;
}

.menu-btn{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.menu-btn:hover{
    background-color: #1e293b;
}

.icone{
    margin-right: 10px;
}

.sidebar.fechar .menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    font-size: 22px;
}

.sidebar.fechar .menu-btn span:not(.icone){
    display: none;
}

.sidebar.fechar .menu-btn .icone{
    margin-right: 0;
}

.conteudo{
    margin-left: 260px;
    width: calc(100% - 260px);
    padding: 30px;
    transition: 0.3s;
}

.conteudo.expandido{
    margin-left: 80px;
    width: calc(100% - 80px);
}

.topbar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.topbar h1{
    font-size: 42px;
    color: #0f172a;
}

.hamburger{
    border: none;
    background-color: #0f172a;
    color: white;
    width: 58px;
    height: 58px;
    border-radius: 14px;
    font-size: 28px;
    cursor: pointer;
}

.card{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    border: none;
}

.form-control,
.form-select{
    border-radius: 10px;
    padding: 12px;
}

.btn{
    border-radius: 10px;
}

.table{
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.table thead{
    background-color: #0f172a;
    color: white;
}